@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

:root { --neon: #00ff41; } /* Warna hijau terminal */

body {
    background: #0a0a0a;
    font-family: 'Space Mono', monospace;
    color: #e0e0e0;
}

.brutal-card {
    border: 2px solid #333;
    background: #111;
    position: relative;
}

.brutal-card:hover {
    border-color: var(--neon);
    box-shadow: 4px 4px 0px var(--neon);
}

input, textarea {
    background: #000;
    border: 2px solid #333;
    color: var(--neon);
}
